<a href="https://colab.research.google.com/github/iami0npkr/Story/blob/main/List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of Objects in python

1. Immutable Objects
2. Mutable Objects

Immutable Objects:

1. int
2. float
3. string
4. bool
5. tuple

Mutable Objects:

1. List
2. Set
3. Dictionary

List

In [ ]:
 # list should be included in the square brackets
 my_list = [1,2,3,4,5]
 print(my_list)
 type(my_list)

[1, 2, 3, 4, 5]

list

In [1]:
# lists can have multiple data types
my_list = [2 , 3, 1, 1.8 , "English", True]

In [2]:
print(my_list)

[2, 3, 1, 1.8, 'English', True]

#Lists are Mutable->changeable

In [3]:
my_list.append(6)
print(my_list)

[2, 3, 1, 1.8, 'English', True, 6]

In [4]:
print(my_list[0])

2

In [5]:
print(my_list[-1])

6

In [6]:
#lists allow duplicate values
list_1= [1,2,3,4,3,2,1]
print(list_1)

[1, 2, 3, 4, 3, 2, 1]

In [7]:
print(len(list_1))

7

In [8]:
#initiating an empty list
list_2 = []
print(list_2)

[]

In [9]:
list_2.append(5)
print(list_2)

[5]

In [10]:
# delete an item from a list
list_2 = list_1

In [11]:
print(list_2)

[1, 2, 3, 4, 3, 2, 1]

In [12]:
del list_2[5]

In [13]:
print(list_2)

[1, 2, 3, 4, 3, 1]

In [14]:
# join two lists
list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]

list_5= list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Tuple(Immutable)

In [26]:
tuple_1 = (2,3,4,5,5)
print(tuple_1)

(2, 3, 4, 5, 5)

In [27]:
type(tuple_1)

tuple

In [28]:
print(type(tuple_1))

<class 'tuple'>

In [29]:
print(len(tuple_1))

5

In [31]:
# tuple allows multiple data types
tuple_2 = {1, 2 , 3, 5 , "Machine Learning" , False}
print(tuple_2)

{False, 1, 2, 3, 5, 'Machine Learning'}

In [34]:
# converting a list to tuple
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[2, 3, 1, 1.8, 'English', True, 6]
(2, 3, 1, 1.8, 'English', True, 6)

In [35]:
print(my_tuple[3])

1.8

In [37]:
# tuples are immutable > cannot be changed
my_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [38]:
print(len(my_tuple))

7

#Set

In [41]:
# set ---> Curly brackets
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [42]:
type(my_set)

set

In [44]:
#set does not support indexing
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [45]:
# convert a list to a set
list_5 = [4,5,6,7,8,9,10]
print(list_5)
print(type(list_5))

set_3 = set(list_5)
print(set_3)
print(type(set_3))

[4, 5, 6, 7, 8, 9, 10]
<class 'list'>
{4, 5, 6, 7, 8, 9, 10}
<class 'set'>

In [47]:
# prompt: convert a tuple to set

# Convert a tuple to a set
tuple_1 = (2, 3, 4, 5, 5)
print(tuple_1)
print(type(tuple_1))

set_1 = set(tuple_1)
print(set_1)
print(type(set_1))

(2, 3, 4, 5, 5)
<class 'tuple'>
{2, 3, 4, 5}
<class 'set'>

In [48]:
# set does not allow duplicate values
set_3 = {1,2,3,4,5,5,2,3,4}
print(set_3)

{1, 2, 3, 4, 5}

#Dictionary

In [50]:
# key-value Pair

my_dictionary = { 'name': 'David', 'age': 25, 'country': 'UK'}
print(my_dictionary)

{'name': 'David', 'age': 25, 'country': 'UK'}

In [51]:
type(my_dictionary)

dict

In [52]:
print(my_dictionary['name'])

David

In [53]:
my_dictionary['age'] = 26
print(my_dictionary)

{'name': 'David', 'age': 26, 'country': 'UK'}

In [56]:
dictionary_2 = { 'name': 'Dad', 'age': 25, 'country': 'UK', 'name': 'Dvid'}
print(dictionary_2)

{'name': 'Dvid', 'age': 25, 'country': 'UK'}