<a href="https://colab.research.google.com/github/iami0npkr/Story/blob/main/Loops_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
laptop1 = int(input("Enter the price of the laptop : "))

Enter the price of the laptop : 3

In [8]:
for i in range(5):
  laptop_price = int(input("Enter the price of the laptop : "))

Enter the price of the laptop : 3
Enter the price of the laptop : 4
Enter the price of the laptop : 5
Enter the price of the laptop : 6
Enter the price of the laptop : 7

In [9]:
numbers = [50,100,150,200]

print(numbers[0])
print(numbers[1])

50
100

In [10]:
numbers = [50,100,150,200]

for i in numbers:
  print(i)

50
100
150
200

#While Loop

In [11]:
i = 0

while i<10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9