<a href="https://colab.research.google.com/github/iami0npkr/Story/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Programming Languagess used for Machine Learning

    1.Python
    2.R

#print function

In [1]:
print("Machine Learning")

Machine Learning

In [2]:
print('Machine Learning')

Machine Learning

In [3]:
print('Machine "Learning"')

Machine "Learning"

In [5]:
print("Machine Learning" + " Projects")

Machine Learning Projects

In [6]:
print(8)

8

In [10]:
print(8 + 7)

15

#Basic Data types

1. int
2. float
3. str

In [11]:
type(8)

int

In [12]:
print(type(8))

<class 'int'>

In [13]:
type(5.8)

float

In [14]:
type("string")

str

#Constants & Variables

In [16]:
superhero = "Iron Man"
print(superhero)

Iron Man

In [17]:
superhero = "Captain America"

In [18]:
print(superhero)

Captain America

In [19]:
hero1, hero2, hero3 = "Iron Man", "Captain America", "Thor"

In [20]:
print(hero1)
print(hero2)
print(hero3)

Iron Man
Captain America
Thor

In [21]:
x = y = z = 23
print(x)
print(y)
print(z)

23
23
23

# input Function

In [24]:
number_1 = input("Enter the first number : ")
number_2 = input("Enter the second number : ")

sum = number_1 + number_2
print("The sum of the numbers is " + str(sum))

Enter the first number : 23
Enter the second number : 4
The sum of the numbers is 234

In [26]:
number_3 = input("Enter the first number : ")
number_4 = input("Enter the second number : ")

sum = int(number_3) + int(number_4)
print("The sum of the numbers is " + str(sum))

Enter the first number : 5
Enter the second number : 4
The sum of the numbers is 9

In [27]:
number_5 = int(input("Enter the first number : "))
number_6 = int(input("Enter the second number : "))

sum = number_5 + number_6
print("The sum of the numbers is " + str(sum))

Enter the first number : 5
Enter the second number : 4
The sum of the numbers is 9

# Changing the data type in python

In [28]:
num=5
print(float(num))

5.0